Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/MultiplayerSessions/Intermediate
Plugins/MultiplayerSessions/Binaries
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Assets/ParagonDekker
Content/Assets/AnimStarterPack
Content/Assets/Characters
Content/Assets/LearningKit_Games
Content/Assets/LevelPrototyping
Content/Assets/MilitaryWeapSilver
Content/Assets/Characters
Content/Assets/ThirdPerson
Content/Assets/RetargetedCustom

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace